[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pandas = "*"
rdflib = "*"
urllib3 = "*"
pylint = "*"
sqlfluff = "*"
sphinx = "*"
pytest = "*"
jupyter = "*"
matplotlib = "*"
networkx = "*"
gravis = "*"
simpy = "*"
graphviz = "*"
openpyxl = "*"
pyshacl = "*"
jsonschema = "*"

[dev-packages]

[requires]
python_version = "3.12"
