[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyarrow = "*"
numpy = "*"
pandas = "*"
rdflib = "*"
urllib3 = "*"
pylint = "*"
sqlfluff = "*"
sphinx = "*"
pytest = "*"
jupyter = "*"
matplotlib = "*"
networkx = "*"
gravis = "*"
simpy = "*"
flask = "*"
flask-login = "*"
owlready2 = "*"
django = "*"
selenium = "*"
graphviz = "*"
openpyxl = "*"

[dev-packages]

[requires]
python_version = "3.10"
