[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pandas = "*"
rdflib = "*"
urllib3 = "*"
sqlfluff = "*"
pytest = "*"
networkx = "*"
openpyxl = "*"
pyshacl = "*"
jsonschema = "*"
sqlitedict = "*"
gravis = "*"

[dev-packages]
jupyter = "*"
notebook = "*"
matplotlib = "*"
sphinx = "*"
pylint = "*"
black = "*"
pytest-cov = "*"

[requires]
python_version = "3.12"
